body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(135deg, #101214, #1A1D2A);
    color: #C0C0C0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.05));
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0px 12px 24px rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    width: 300px;
}

h2 {
    text-align: center;
    color: #F5F5F5;
    font-size: 2em;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    color: #C0C0C0;
    font-size: 1.1em;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #C0C0C0;
}

button {
    padding: 10px;
    background-color: #C0C0C0;
    color: #101214;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 600;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow: 0px 6px 15px rgba(192, 192, 192, 0.3);
}

button:hover {
    background: #640D14;
    color: #C0C0C0 !important;
    border-color: #C0C0C0;
    box-shadow: 0px 15px 30px rgba(155, 45, 48, 0.3);
}
